*.o
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess*
/config.log
/config.log
/config.status
/config.status.lineno
/config.sub*
/configure
/configure.lineno
/configure.scan
Makefile
Makefile.in
core
/test-driver
.deps
/ar-lib
